@use "../sass/breakpoints";

@mixin flexbox() {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

@mixin mobileMedia() {
  @media (max-width: breakpoints.$mobile-screen) {
    @content;
  }
}
