@use "../../sass/colors";
@use "../../sass/breakpoints";
@use "../../sass/mixins";

.product {
  width: 15%;
  height: 400px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__img {
    border-radius: 5px;
  }

  &__name__price {
    justify-self: end;
    @include mixins.flexbox();
  }

  &__name {
    font-size: 14px;

    // @media (min-width: breakpoints.$mobile-screen) {
    //   background: #fcb603;
    // }
    @include mixins.mobileMedia() {
      background: #fcb603;
    }
  }

  &__price {
    font-weight: bolder;

    &::before {
      content: "$";
    }
  }

  &__btn {
    padding: 0.7rem;
    border: none;
    background: colors.$main-btn-color;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 13px -2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.4s ease;

    &:hover {
      background: #fcb603;
      transform: translateY(-1px);
      box-shadow: 0 0 0 0.2rem tgba(252, 186, 3, 0.45);
    }
    &:active {
      transform: translateY(4px);
      box-shadow: 0 0 0 0.2rem rgba(252, 186, 3, 0.45);
    }
    &_muted {
      background: #8149006f;
      &:hover {
        background: #8149006f;
        transform: translateY(-1px);
        box-shadow: 0 0 0 0.2rem;
      }
    }
  }
}
